@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.AddProducts {
    max-width: 750px;
    min-width: 500px;
    /* max-height: 0px; */
    margin:auto;
    margin-top: 10%;
    margin-left: 35%;
    text-align: center;
    padding-right: 300px;
    padding-left: 50px;
    padding-top: 20px;
    /* display: flex; */
    /* border: 2px solid red; */
    border-radius: 25px;
}
.AddProducts h1{
    font-size: 30px;
    display: block;
    margin: 30px 0;
    font-weight: bold;
    position:relative;
    right: -30%;
}
.AddProducts label{
    font-size: 10px;
    text-align: left;
    display: block;
}
.AddProducts input, .AddProducts select{
    width: 160%;
    padding: 6px 10px;
    margin: 7px 0;
    border: 1px solid #5b5959;
    background: #fff;

    border-radius: 10px;
    box-sizing: border-box;
    display: block;
}
.AddProducts button {
    background: #ff6004;
    color: #fff;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position:relative;
    right: -103%;
    margin-top: 20px;
    margin-bottom: 20px;
}
