@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}


.EditProduct-container-Content{
    width: 750px;
    height: fit-content;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 15%;
    text-align: center;
    padding: 20px;
    /* display: flex; */
    /* border: 2px solid red; */
    border-radius: 25px;
}

.sub-con {
    width: 100%;
    padding: 10px;
    /* border: 2px solid red; */
    
} 



input{
    width: 100%;
    padding: 6px 10px;
    margin: 7px 0;
    border: 1px solid #5b5959;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
}

label{
    font-size: 10px;
    text-align: left;
    display: flex;
}

h1{
    font-size: 30px;
    display: block;
    margin: 30px 0;
    font-weight: bold;
    position:relative;
}

select{
    width: 100%;
    padding: 6px 10px;
    margin: 7px 0;
    border: 1px solid #5b5959;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
}

.Confirm-button {

    color: #fff;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position:relative;

}

