.Password-container {
    
    max-width: 470px;
    margin:auto;
    margin-top: 270px;
    margin-left: 43%;
    text-align: center;
    border-radius: 10px;

}

.Password {
    
    max-width: 100%;
    margin:auto;
    padding-left: 23%;
    text-align: center;
    display: flex;
    /* border: 2px solid red; */
}

.Password-form {
    
    max-width: 400px;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    /* border: 2px solid red; */
}

.Password h1{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position:relative;
}
.Password label{
    margin-top: 80px;
    font-size: 10px;
    text-align: left;
    display: block;
}
.Password input{
    width: 200%;
    padding: 6px 10px;
    margin: 7px 0;
    border: 1px solid #5b5959;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
}
.Password-button {
    /* border: 2px solid red; */
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 29%;
    
}
