@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
  }

 tr:hover {background-color: #f5f5f5}
 
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
    padding: 15px;
    padding-right: 50px;
    text-align: left;
    border-bottom: 1px solid #c7c7c7;
    /* border: 2px solid red; */
}

td {
    height: 50px;
    vertical-align: bottom;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #c7c7c7;
}

.Products-container-Top {
    border: 3px solid #fff;
    padding: 0px;
    display: flex;
    padding-left: 260px;
    padding-right: 200px;
    /* margin-top: 100px;/ */
}


.Products-container-Content {

    border: 3px solid #fff;
    padding: 50px;
    /* display: flex; */
    padding-left: 25px;
    padding-right: 25px;
    /* border: 2px solid red; */
    margin-right : 20px;
    margin-left : 240px;
    margin-top: 0px;
    border-radius: 25px;
    
}

.Products-container-Table {

    display: flex;
    /* border: 2px solid red; */

}

.edit-button {
    background: #ff6004;
    color: #fefdfd;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position:relative;
    margin-right: 50px;
    
}


.delete-button {
    background: #ff0404;
    color: #fefdfd;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position:relative;
    
}

